
@font-face {
    font-family: game-font;
    src: url('../fonts/gameFont.ttf');
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-family: game-font;
    font-weight: 100;
    text-align: center;
    user-select: none;
}

body {
    background: linear-gradient(315deg, #2C3E50 0%, #000000 74%);
    height: 100vh;
    z-index: 1;
    transition: background- 12s;
}

body:not(.container) {
    color: white;
}

@keyframes bg-anim {
    0% {
        background-position-x: 0;
        background-position-y: 510px;

    }

    100% {
        background-position-x: 510px;
        background-position-y: 0px;
    }
}

.background {
    animation: bg-anim 10s linear infinite;
    top: 0;
    background-image: url(../img/mine.png);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: repeat;
    background-position-x: 500px;
    opacity: 0.06;
    overflow: hidden;
    filter: contrast(10);

}
.background-overlay{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    transition:2s;
    z-index:-1;
    opacity: 0;
    transition:2s;

}
.half-opacity{
    opacity: 50%;
    transition:2s;
}
.dead { 
    background: linear-gradient(315deg, #961818 0%, #000000 74%);
}
.win { 
    background: linear-gradient(315deg, #d563f8 0%, #000000 74%);
}
button {
    font-family: game-font;
    transition: box-shadow transform 0.2s;
    box-shadow: 0 1px 2px black;
    border-radius: 0.5vh;
    transform: scale(1);

}

button:not(.selected):hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.582);
    transform: scale(1.04);
    transition: transform 0.15s;

}

button:active {
    box-shadow: inset 0 1px 2px black;
}

h1 {
    margin-top: 1.5%;
}

.hidden {
    visibility: hidden;
}

.container {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: rgba(228, 228, 228, 0.87);
    border: 4px outset rgb(168, 168, 168);
    border-radius: 20px;
    z-index: 3;
    box-shadow: 0 0 20px rgba(180, 54, 238, 0.568);
}

table {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 10px;
    table-layout: fixed;
    box-shadow:inset 1px 2px 150px rgba(109, 109, 109, 0.418)

}

tr.beginner {
    height: 20%;
}

tr.medium {
    height: 10%;
}

tr.expert {
    height: 8%;
}

.cell {
    border: 5px outset rgb(138, 138, 138);
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: gray;
    font-size: 20px;
    width: auto;
    height: 30px;
    width: 30px;
    transition: background-color border-color 0.3s;
    ;
}

.cell:not(.shown, .marked):hover {
    background-color: pink;
}

.cell.mine-bg {
    background-color: rgba(255, 0, 0, 0.459);
    height: 30px;
    width: 30px;
}

.shown {
    border: 1px inset rgb(138, 138, 138);
    background-color: rgba(138, 138, 138, 0.11);
}

.marked {
    background: linear-gradient(90deg, rgb(114, 114, 116) 0%, rgba(129, 151, 161, 0.555) 100%);
}

.blue {
    color: blue
}

.red {
    color: red
}

.green {
    color: green
}

.purple {
    color: purple;
}

.salmon {
    color: salmon
}

.yellow {
    color: rgb(0, 99, 112);
}

.darkblue {
    color: darkblue;
}

.pink {
    color: rgb(240, 70, 98);
}

.mine {
    width: 70%;
}

.above-table {
    text-align: left;
    padding: 20px 20px;
    width: auto;
    max-width: 100%;
    height: 140px;
}

.row {
    height: 50%;
    left: 3.5%;
    margin-bottom: 5px;
    max-height: 140px;
    color: black;
}

.bottom {
    top: -30px;
    position: relative;
    left: 0%
}

button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 0;
}

.dif-text {
    display: inline-block;
    text-align: center;
    width: 100%;
    top: -15px;
    position: relative;
}

.size-btns {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    top: -5px;
}

.size-btn {
    width: 120px;
    font-size: 15px;
}

.beg {
    background-color: rgb(68, 131, 68);
    color: white
}

.med {
    background-color: rgb(112, 160, 231);
    color: white
}

.exp {
    background-color: rgb(255, 113, 113);
    color: white
}

.selected {
    background-color: gray;
    color: rgb(71, 68, 68);
    box-shadow: inset 0 2px 3px black;
}

.selected:hover {
    box-shadow: inset 0 1px 2px black;

}

.manual-selected {
    background-color: greenyellow;
}

.timer {
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    left: 3%;
    color: rgb(231, 231, 231);
    background-color: rgb(37, 18, 88);
    padding: 8px 0px 8px 10px;
    width: 190px;
    box-shadow: inset gray 0 0 0px 2px;
    font-size: 12px;
}

.timer::before {
    content: "play time : ";
    position: relative;
}
@keyframes colorCicle {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.game-btn-anim { 
    background: linear-gradient(270deg, #c598ed, #ed98bb, #edcf98, #98ed99, #98d4ed, #98a0ed, #d098ed);
    background-size: 1400% 1400%;
    animation: colorCicle 2s infinite;
}
.game-btn {
    left: 2.5%;
    position: relative;
    font-size: 30px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 255, 0.24);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.479);
    transition: all 0.1s;
}

.game-btn:hover {
    box-shadow: 0 2px 5px;
    height: 65px;
    width: 65px;
    transform: scale(1.03);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.479);

}

.game-btn:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.74);
}

.hints {
    display: inline-block;
    width: 170px;
    height: 70%;
    margin-left: 45px;
    position: relative;
}

.hint {
    display: inline-block;
    width: 27%;
    text-align: center;
    position: relative;
    height: 70%;
    padding: 4px;
    font-size: 10px;
    background-color: rgb(143, 11, 132);
    color: white;
    cursor: pointer;
}
.hint:hover{
    background-color: rgb(189, 50, 177);

}

.used {
    background-color: gray;
    color: darkgray;
}

.safe-container {
    position: relative;
    display: inline-block;
    width: 100px;
    top: 15%;
    height: 100px;
    left: -50px
}

.safe-btn {
    position: relative;
    height: 60%;
    display: block;
}

.safe-text {
    margin-top: 5px;
    position: relative;
    font-size: 10px;
    display: block;
    width: 100%;
}

@keyframes safe-anim {
    0% {
        background-color: gray;
        box-shadow: 0 0 0px aquamarine;
    }

    25% {
        background-color: aquamarine;
        box-shadow: 0 0 45px aquamarine;
    }

    50% {
        background-color: gray;
        box-shadow: 0 0 10px aquamarine;
    }

    75% {
        background-color: aquamarine;
        box-shadow: 0 0 45px aquamarine;
    }

    100% {
        background-color: gray;
        box-shadow: 0 0 0px aquamarine;
    }
}

.safe-cell {
    animation: safe-anim 3.1s ease-in-out;
    background-color: aquamarine;
    box-shadow: 0 0 45px aquamarine;
    border-color: blue;

}

.undo-btn {
    right: -47px;
    position: relative;
    top: -28px;
    height: 40px;
}


.lives {
    width: 200px;
    height:70px;
    display: inline-block;
    font-size: 50px;
    left: -15px;
    position: relative;
    text-shadow: -2px 1px 1px black;
    top: -15px;
    color: rgba(255, 0, 0, 0.705);
    border:2px solid rgba(185, 151, 176, 0.473);
    border-radius: 12em;
    background-color: rgba(128, 17, 17, 0.185);
}

.modal {
    position: absolute;
    top: -400px;
    width: 40%;
    max-height: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    left: 30%;
    background-color: rgba(37, 33, 51, 0.884);
    border: 5px solid rgba(0, 0, 0, 0.315);
    padding: 1% 10px;
    color: whitesmoke;
    transition:top  0.5s;
}
.modal-pos { 
    top: 350px;
}

.modal h1 {
    margin-bottom: 20px;
    position: relative;
}