@font-face {
    font-family: game-font;
    src: url('../fonts/gameFont.ttf');
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-family: game-font;
    font-weight: 100;
    text-align: center;
    user-select: none;
}
body  {
    background: linear-gradient(315deg, #2C3E50 0%,  #000000 74%);
    height:100vh;
}
body:not(.container) {
    color:white;
}
button { 
    font-family: game-font;
    border-radius: 5%;

}
h1 {
    margin-top: 1.5%;
}

.hidden {
    visibility: hidden;
}

.container {
    width: 600px;
    height: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background: linear-gradient(173deg, #2C3E50 0%,  #a0a0a0 74%);
    border: 10px outset rgb(118 142 153);
}

table {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    table-layout: fixed;

}

tr.beginner {
    height: 20%;
}

tr.medium {
    height: 10%;
}

tr.expert {
    height: 8%;
}

.cell {
    border: 5px outset rgb(94 102 152);
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: rgb(138 155 179);
    font-size: 20px;
    width: auto;
    height: 30px;
    width: 30px;
    transition: border-color 0.1s;
    ;
}

.cell:not(.shown, .marked):hover {
    background-color: pink;
}

.cell.mine-bg {
    background-color: rgba(255, 0, 0, 0.801);
    height: 30px;
    width: 30px;
}

.shown {
    border: 1px inset rgb(138, 138, 138);
    background-color: rgb(214 229 255 / 74%);
}

.marked {
    background-color: rgb(126, 117, 117)
}

.blue {
    color: blue
}

.red {
    color: red
}

.green {
    color: green
}

.purple {
    color: purple;
}

.salmon {
    color: salmon
}

.yellow {
    color: rgb(0, 99, 112);
}

.darkblue {
    color: darkblue;
}

.pink {
    color: rgb(240, 70, 98);
}

.mine {
    width: 70%;
}

.above-table {
    text-align: left;
    padding: 20px 20px;
    width: auto;
    max-width: 100%;
    height: 140px;
}

.row {
    height: 50%;
    left: 3.5%;
    margin-bottom: 5px;
    max-height:140px;
    color:black;
}
.bottom{
    top:-30px;
    position: relative;
    left:0%
}

button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0 0;
}
.dif-text { 
    display: inline-block;
    text-align: center;
    width:100%;
    top:-15px;
    position: relative;
    color:white;
}
.size-btns {
    position: relative;
    width:100%;
    display: inline-block;
    text-align: center;
    top:-5px;
}
.size-btn {
    width:120px;
    font-size:15px;
}
.selected { 
    background-color:gray;
    color:white;
}
.manual-selected { 
    background-color:greenyellow;
}

.timer {
    display: inline-block;
    position: relative;
    left: 6%;
    color: white;
    background-color: black;
    padding: 8px 10px;
    width: 200px;
    box-shadow: inset gray 0 0 0px 2px;
    font-size: 12px;
}

.timer::before {
    content: "play time : ";
    position: relative;
}

.game-btn {
    left: 5%;
    position: relative;
    font-size: 30px
}

.hints {
    display: inline-block;
    width: 170px;
    height: 70%;
    margin-left: 25px;
    position: relative;
}

.hint {
    display: inline-block;
    width: 27%;
    text-align: center;
    position: relative;
    height: 70%;
    padding: 4px;
    font-size: 10px;
    background-color: rgb(30, 126, 94);
    color: white;
    cursor: pointer;
}

.used {
    background-color: gray;
    color: darkgray;
}

.safe-container {
    position: relative;
    display: inline-block;
    width: 100px;
    top: 15%;
    height: 100px;
    left: -50px
}

.safe-btn {
    position: relative;
    height: 60%;
    display: block;
}

.safe-text {
    margin-top: 5px;
    position: relative;
    font-size: 10px;
    display: block;
    width:100%;
}
@keyframes safe-anim {
    0%   {background-color: gray;box-shadow:0 0 0px aquamarine;}
    25%  {background-color: aquamarine;box-shadow:0 0 45px aquamarine;}
    50%  {background-color: gray;box-shadow:0 0 10px aquamarine;}
    75% {background-color: aquamarine;box-shadow:0 0 45px aquamarine;}
    100% {background-color: gray;box-shadow:0 0 0px aquamarine;}
  }
.safe-cell {
    animation: safe-anim 3.1s ease-in-out;
    background-color: aquamarine;
    box-shadow:0 0 45px aquamarine;
    border-color:blue;

}

.undo-btn {
    right: -47px;
    position: relative;
    top: -28px;
    height: 40px;
}


.lives {
    width: 200px;
    display: inline-block;
    font-size: 50px;
    left: -15px;
    position: relative;
    text-shadow: -2px 1px 1px black;
    top:-20px
}

.modal {
    position: absolute;
    top: 400px;
    width: 40%;
    max-height: 300px;
    height: 300px;
    overflow: hidden;
    text-align: center;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.781);
    border: 5px solid red;
    padding: 10px 10px;
    color:black;

}

.modal h1 {
    margin-bottom: 20px;
    position: relative;
}
